p.first {
  font-family: "Times New Roman";
}

p.second {
  font-family: Arial;
}

p.third {
  font-family: Georgia;
}

p.fourth {
  font-family: Verdana;
}

p.fifth {
  font-family: "Trebuchet MS";
}

p.sixth {
  font-family: Impact;
}

p.seventh {
  font-family: "Arial Black";
}

p.eights {
  font-family: "Comic Sans MS";
}

p.ninth {
  font-family: "Courier New";
}
