.block {
  width: 200px;
  height: 200px;
}

.block-1 {
  border: 1px solid red;
}

.block-2 {
  border: 1px dotted blue;
}

.block-3 {
  border: 2px dashed green;
}

.block-4 {
  border: 4px double orange;
}