.block {
  width: 200px;
  height: 150px;
  margin: 10px auto;
}

.block-1 {
  border-top: 2px solid blue;
  border-left: 2px solid orange;
  border-right: 2px solid green;
  border-bottom: 2px solid red;
}

.block-2 {
  border: 1px solid blue;
  border-left: 2px solid red;
  border-right: 2px dashed green;
}